@charset "utf-8";

/* CSS Document */


/*Max css*/


/*
div#genera {
    margin-top: 4.5%;
}
*/


/* SONIA CSS */

.container {
    width: 1400px;
    margin-bottom: 35px;
    padding-right: 0;
}


/*COLORI CAPITOLI*/


/*Veicoli*/

.veicoli {
    color: #73a42e;
}

.veicoli h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #bcdf98 100%);
    background: -o-linear-gradient(right, #fff 75%, #bcdf98 100%);
    background: -moz-linear-gradient(right, #fff 75%, #bcdf98 100%);
    background: linear-gradient(to right, #fff 75%, #bcdf98 100%);
}

.veicoli h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #bcdf98 100%);
    background: -o-linear-gradient(right, #fff 55%, #bcdf98 100%);
    background: -moz-linear-gradient(right, #fff 55%, #bcdf98 100%);
    background: linear-gradient(to right, #fff 55%, #bcdf98 100%);
}

.veicoli hr {
    background-color: #73a42e;
    border-color: #73a42e;
}

.veicoli .titolo5,
.veicoli .titolo6 {
    border-color: #73a42e;
}

.veicoli h4:after,
.veicoli h5:after,
.veicoli h6:after {
    border-top: #73a42e;
}


/* Fine Veicoli*/


/*Strada*/

.strada {
    color: #816714;
}

.strada h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #dfc398 100%);
    background: -o-linear-gradient(right, #fff 75%, #dfc398 100%);
    background: -moz-linear-gradient(right, #fff 75%, #dfc398 100%);
    background: linear-gradient(to right, #fff 75%, #dfc398 100%);
}

.strada h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #dfc398 100%);
    background: -o-linear-gradient(right, #fff 55%, #dfc398 100%);
    background: -moz-linear-gradient(right, #fff 55%, #dfc398 100%);
    background: linear-gradient(to right, #fff 55%, #dfc398 100%);
}

.strada hr {
    background-color: #816714;
    border-color: #816714;
}

.strada .titolo5,
.strada .titolo6 {
    border-color: #816714;
}

.strada h4:after,
.strada h5:after,
.strada h6:after {
    border-top: #816714;
}


/*Fine Strada*/


/*Segnali*/

.segnali {
    color: #005ea8;
}

.segnali h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #4792ce 100%);
    background: -o-linear-gradient(right, #fff 75%, #4792ce 100%);
    background: -moz-linear-gradient(right, #fff 75%, #4792ce 100%);
    background: linear-gradient(to right, #fff 75%, #4792ce 100%);
}

.segnali h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #4792ce 100%);
    background: -o-linear-gradient(right, #fff 55%, #4792ce 100%);
    background: -moz-linear-gradient(right, #fff 55%, #4792ce 100%);
    background: linear-gradient(to right, #fff 55%, #4792ce 100%);
}

.segnali hr {
    background-color: #005ea8;
    border-color: #005ea8;
}

.segnali .titolo5,
.segnali .titolo6 {
    border-color: #005ea8;
}

.segnali h4:after,
.segnali h5:after,
.segnali h6:after {
    border-top: #005ea8;
}


/* Fine Segnali*/


/*Equipaggiamento*/

.equipaggiamento {
    color: #bb9c09;
}

.equipaggiamento h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #c8b55d 100%);
    background: -o-linear-gradient(right, #fff 75%, #c8b55d 100%);
    background: -moz-linear-gradient(right, #fff 75%, #c8b55d 100%);
    background: linear-gradient(to right, #fff 75%, #c8b55d 100%);
}

.equipaggiamento h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #c8b55d 100%);
    background: -o-linear-gradient(right, #fff 55%, #c8b55d 100%);
    background: -moz-linear-gradient(right, #fff 55%, #c8b55d 100%);
    background: linear-gradient(to right, #fff 55%, #c8b55d 100%);
}

.equipaggiamento hr {
    background-color: #bb9c09;
    border-color: #bb9c09;
}

.equipaggiamento .titolo5,
.equipaggiamento .titolo6 {
    border-color: #bb9c09;
}

.equipaggiamento h4:after,
.equipaggiamento h5:after,
.equipaggiamento h6:after {
    border-top: #bb9c09;
}


/* Fine Equipaggiamento*/


/*Norme comportamento*/

.norme {
    color: #497728;
}

.norme h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #698655 100%);
    background: -o-linear-gradient(right, #fff 75%, #698655 100%);
    background: -moz-linear-gradient(right, #fff 75%, #698655 100%);
    background: linear-gradient(to right, #fff 75%, #698655 100%);
}

.norme h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #698655 100%);
    background: -o-linear-gradient(right, #fff 55%, #698655 100%);
    background: -moz-linear-gradient(right, #fff 55%, #698655 100%);
    background: linear-gradient(to right, #fff 55%, #698655 100%);
}

.norme hr {
    background-color: #497728;
    border-color: #497728;
}

.norme .titolo5,
.norme .titolo6 {
    border-color: #497728;
}

.norme h4:after,
.norme h5:after,
.norme h6:after {
    border-top: #497728;
}


/* Fine Norme comportamento*/


/*Documenti*/

.documenti {
    color: #d6413e;
}

.documenti h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #d66b69 100%);
    background: -o-linear-gradient(right, #fff 75%, #d66b69 100%);
    background: -moz-linear-gradient(right, #fff 75%, #d66b69 100%);
    background: linear-gradient(to right, #fff 75%, #d66b69 100%);
}

.documenti h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #d66b69 100%);
    background: -o-linear-gradient(right, #fff 55%, #d66b69 100%);
    background: -moz-linear-gradient(right, #fff 55%, #d66b69 100%);
    background: linear-gradient(to right, #fff 55%, #d66b69 100%);
}

.documenti hr {
    background-color: #d6413e;
    border-color: #d6413e;
}

.documenti .titolo5,
.incidenti .titolo6 {
    border-color: #d6413e;
}

.documenti h4:after,
.incidenti h5:after,
.incidenti h6:after {
    border-top: #d6413e;
}


/* Fine Documenti*/


/*Incidenti Ass*/

.incidenti {
    color: #00869e;
}

.incidenti h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #57919c 100%);
    background: -o-linear-gradient(right, #fff 75%, #57919c 100%);
    background: -moz-linear-gradient(right, #fff 75%, #57919c 100%);
    background: linear-gradient(to right, #fff 75%, #57919c 100%);
}

.incidenti h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #57919c 100%);
    background: -o-linear-gradient(right, #fff 55%, #57919c 100%);
    background: -moz-linear-gradient(right, #fff 55%, #57919c 100%);
    background: linear-gradient(to right, #fff 55%, #57919c 100%);
}

.incidenti hr {
    background-color: #00869e;
    border-color: #00869e;
}

.incidenti .titolo5,
.incidenti .titolo6 {
    border-color: #00869e;
}

.incidenti h4:after,
.incidenti h5:after,
.incidenti h6:after {
    border-top: #00869e;
}


/* Fine Incidenti Ass*/


/*Soccorso*/

.soccorso {
    color: #9a0061;
}

.soccorso h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #b03c85 100%);
    background: -o-linear-gradient(right, #fff 75%, #b03c85 100%);
    background: -moz-linear-gradient(right, #fff 75%, #b03c85 100%);
    background: linear-gradient(to right, #fff 75%, #b03c85 100%);
}

.soccorso h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #b03c85 100%);
    background: -o-linear-gradient(right, #fff 55%, #b03c85 100%);
    background: -moz-linear-gradient(right, #fff 55%, #b03c85 100%);
    background: linear-gradient(to right, #fff 55%, #b03c85 100%);
}

.soccorso hr {
    background-color: #9a0061;
    border-color: #9a0061;
}

.soccorso .titolo5,
.soccorso .titolo6 {
    border-color: #9a0061;
}

.soccorso h4:after,
.soccorso h5:after,
.soccorso h6:after {
    border-top: #9a0061;
}


/* Fine Soccorso*/


/*Sicurezza*/

.sicurezza {
    color: #df6f0d;
}

.sicurezza h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #df9555 100%);
    background: -o-linear-gradient(right, #fff 75%, #df9555 100%);
    background: -moz-linear-gradient(right, #fff 75%, #df9555 100%);
    background: linear-gradient(to right, #fff 75%, #df9555 100%);
}

.sicurezza h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #df9555 100%);
    background: -o-linear-gradient(right, #fff 55%, #df9555 100%);
    background: -moz-linear-gradient(right, #fff 55%, #df9555 100%);
    background: linear-gradient(to right, #fff 55%, #df9555 100%);
}

.sicurezza hr {
    background-color: #df6f0d;
    border-color: #df6f0d;
}

.sicurezza .titolo5,
.sicurezza .titolo6 {
    border-color: #df6f0d;
}

.sicurezza h4:after,
.sicurezza h5:after,
.sicurezza h6:after {
    border-top: #df6f0d;
}


/* Fine Sicurezza*/


/*Autoveicolo*/

.autoveicolo {
    color: #929494;
}

.autoveicolo h1 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 75%, #b7b8b8 100%);
    background: -o-linear-gradient(right, #fff 75%, #b7b8b8 100%);
    background: -moz-linear-gradient(right, #fff 75%, #b7b8b8 100%);
    background: linear-gradient(to right, #fff 75%, #b7b8b8 100%);
}

.autoveicolo h2 {
    background: white;
    background: -webkit-linear-gradient(left, #fff 55%, #b7b8b8 100%);
    background: -o-linear-gradient(right, #fff 55%, #b7b8b8 100%);
    background: -moz-linear-gradient(right, #fff 55%, #b7b8b8 100%);
    background: linear-gradient(to right, #fff 55%, #b7b8b8 100%);
}

.autoveicolo hr {
    background-color: #929494;
    border-color: #929494;
}

.autoveicolo .titolo5,
.autoveicolo .titolo6 {
    border-color: #929494;
}

.autoveicolo h4:after,
.autoveicolo h5:after,
.autoveicolo h6:after {
    border-top: #929494;
}
/* Fine Autoveicolo*/


/*FINE COLORI CAPITOLI*/


/*TITOLI*/

.titolo1 {
    vertical-align: text-top;
    margin-bottom: 10px;
    margin-top: 50px;
}

.titolo1 h1 {
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titolo1 hr {
    height: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 0px;
    margin-top: 0px;
}

.titolo2 {}

.titolo2 h2 {
    font-variant: small-caps;
    font-size: 60px;
}

.titolo3 {}

.titolo3 h3 {
    font-variant: small-caps;
    font-size: 55px;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.titolo3 hr {
    height: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 0px;
    margin-top: 0px;
}

.titolo4 {
    border-bottom: 20px;
    border-color: #000000;
}

.titolo4 h4 {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.titolo4 h4 span {
    background-color: white;
    padding-right: 10px;
}

.titolo4 h4:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 15px;
    right: 15px;
    border-top: 3px solid;
    height: 0.5em;
    z-index: -1;
}

.titolo5 {
    border-bottom: 10px;
}

.titolo5 h5 {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.titolo5 h5 span {
    background-color: white;
    padding-right: 10px;
}

.titolo5 h5:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 15px;
    right: 15px;
    height: 0.5em;
    border-top: 3px dotted;
    z-index: -1;
}

.titolo6 {
    border-bottom: 10px;
    margin-bottom: 20px;
}

.titolo6 h6 {
    font-size: 38px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.titolo6 h6 span, .titolo6_incroci h6 span {
    background-color: white;
    padding-right: 16px;
}

.titolo6 h6:after, .titolo6_incroci h6:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 15px;
    right: 15px;
    height: 0.5em;
    border-top: 3px dotted;
    z-index: -1;
}

.titolo6 hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.titolo6_incroci {
	border-bottom: 10px;
	margin-bottom: 0px;
}

.titolo7 {
    border-bottom: 10px;
    margin-bottom: 15px;
}

.titolo7 h7 {
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titolo7 h7 span {
    color: #fff;
    line-height: 1.1;
}

.titolo_testo {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 29px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    padding: 0px 15px 10px 15px;
}


/*FINE TITOLI*/


/*TESTO e DIDASCALIE*/

.testo {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 27px;
    line-height: 1.5;
    text-align: justify;
	padding: 0 15px 0 15px;
}

.testo_l {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 27px;
    line-height: 1.5;
	word-spacing: -0.1em;
    text-align: justify;
    padding: 0 15px 0 15px;
}

.testo_r {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 27px;
    line-height: 1.5;
	word-spacing: -0.1em;
    text-align: justify;
    padding: 0 15px 0 15px;
}

.comportamento {
    color: #5586c0;
    font-style: italic;
}

.comportamento_elenco {
	color: #5586c0;
	font-style: italic;
	padding-inline-start: 321px;
}

.comportamento_elenco2 {
	color: #5586c0;
	font-style: italic;
	padding-inline-start: 413px;
}

.comportamento_e {
    color: #bb9c09;
    font-style: italic;
}

.elenco {
  padding-inline-start: 415px;
}
.elenco2 {
  padding-inline-start: 309px;
}
.elenco3 {
  padding-inline-start: 200px;
}

.rosso {
    color: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.verde {
    color: #009036;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.verdeCorretti {
  color: #009036;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.9;
}

.dida {
    font-family: 'Arial', condensed;
    font-size: 20px;
    line-height: 1.3;
    font-stretch: condensed;
    margin-top: 5px;
    max-width: 470px;
}

.dida .didatesto {
    text-align: justify;
}

.dida .numero {
    letter-spacing: -0.6px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

a.dida {
    font-size: 26px;
    font-stretch: condensed;
    font-weight: bold;
}

.didaSignal {
    margin: 0 0 0 0;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
}

.signalNumero {
    font-family: 'Arial', condensed;
    font-size: 18px;
    line-height: 1;
    z-index: 99999999;
    font-weight: bold;
    margin: 10px 0 -15px 15px;
    position: absolute;
    float: left;
}

.signalDesc {
    font-family: 'Arial', condensed;
    font-size: 18px;
    line-height: 1;
    z-index: 99999999;
    font-weight: bold;
    margin: -10px 0px 20px 0px;
}


/*FINE TESTO e DIDASCALIE*/


/*FOTO*/

.foto {
    max-width: 470px;
}

.foto_M {
    max-width: 470px;
    padding: 0;
}

.foto_MC img {
	border:1px solid #ccc;
	border-radius: 5px;
	background-color: #e4e4e4;
	background-image: url(../../assets/images/Caricamento.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.foto_M img {
    width: 470px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4e4e4;
    background-image: url(../../assets/images/Caricamento.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.foto_l {
    max-width: 470px;
    float: left;
    padding: 0 0 15px 0;
    margin: 5px 35px 0 15px;
}

.foto_l .foto_M img,
.foto_r .foto_M img,
.foto_r2 .foto_M img,
.foto_rComportamento .foto_M img, 
.foto_r2Comportamento .foto_M img,
.foto_rComportamentoT .foto_M img, 
.foto_r2ComportamentoT .foto_M img {
    width: 470px;
	border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4e4e4;
    background-image: url(../../assets/images/Caricamento.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.foto2 {
    float: right;
}

.foto2 .foto_r2, 
.foto2 .foto_r2Comportamento, 
.foto2 .foto_r2ComportamentoT {
    float: right;
	margin-right:15px;
}
.foto2 .foto_r, 
.foto2 .foto_rComportamento,
.foto2 .foto_rComportamentoT {
    float: left;
	margin-right:-3px;	
}

.foto_r {
    max-width: 441px;
    float: right;
    margin: 5px 15px 0 35px;
}
.foto_r2 {
    max-width: 441px;
    float: right;
    margin: 5px 0px 0 35px;
}
.foto_rComportamento,
.foto_rComportamentoT {
	max-width: 441px;
	float:right;
	margin: 5px 15px 15px 35px;
}
.foto_r2Comportamento,
.foto_r2ComportamentoT {
	max-width: 441px;
	float:right;
	margin: 5px 0px 15px 35px;
}
.foto2 .foto_rComportamentoT,
.foto2 .foto_r2ComportamentoT {
	margin-top: 20px;
}
.foto_5l {
    max-width: 200px;
    float: left;
    padding: 0 0 15px 0;
    margin: 5px 35px 0 15px;
}
.foto_5l img,
.foto_5r img {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.foto_5r {
    max-width: 200px;
    float: right;
    padding: 0 0 15px 0;
    margin: 5px 15px 0 35px;
}

.foto_D {
    max-width: 676px;
    padding: 0 0 0 0;
    margin-top: 5px;
    margin-bottom: 20px;
	background-color: #e4e4e4;
	background-image: url(../../assets/images/Caricamento.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.foto_D img {
    width: 676px;
}

.foto_XL img {
    width: 100%;
    padding: 0 0 0 0;
    margin-top: 5px;
	text-align: center;
  	background-color: #e4e4e4;
	background-image: url(../../assets/images/Caricamento.svg);
	background-repeat: no-repeat;
	background-position: center;
}


/*FINE FOTO*/


/*SEGNALI*/

.signal {
    max-width: 292px;
}

.signal_M {
    max-width: 292px;
    padding: 0 0 0 0;
}

.signal_M img {
    width: 292px;
}

.signal_M3 img {
  width: 380px;
}

.signal_M2 img, .signal_M6 img {	
  margin: -20px 0 0 0;
}

.signal_l, .signal_l2, .signal_l3, .signal_l4, .signal_l5, .signal_l6 {
    max-width: 292px;
    float: left;
    padding: 0 0 0 0;
    margin: 0 25px 0 15px;
}
.signal_l {
	width: 273px;
	margin: -10px 35px 35px 15px;	
}

.signal_l2 {
  max-width: 230px;
  margin: -10px 35px 35px 15px;
}

.signal_l3 {
  max-width: 378px;
  margin: -10px 35px 35px 15px;
}

.signal_l4 {
  width: 170px;
  margin: -10px 0px 35px 0px;
}

.signal_l5 {
  max-width: 125px;
  margin: -10px 35px 35px 15px;
}

.signal_l6 {
  width: 165px;
  margin: 5px 35px 35px 15px;
}

.signal_r, .signal_r2, .signal_r3 {
    max-width: 292px;
    float: right;
    margin: 0 15px 0 25px;
}

.signal_r {
	width: 273px;
	margin: -10px 15px 25px 30px;	
}
.signal_r2 {
	width: 165px;
	margin-top: 5px;	
}
.signal_r3 {
  max-width: 350px;
  margin: -15px 15px 25px 30px;
}

.signal_lplus {
    float: left;
    padding: 5px 0 15px 0;
    margin: 5px 25px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.signal_rplus {
    max-width: 434px;
    float: right;
    margin: 5px 15px 0 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.signal_Mplus {
    max-width: 434px;
    padding: 0 0 0 0;
}

/*FINE SEGNALI*/

/*NUMERI SEGNALI*/
.NumeroTriangoli {
  position: relative;
  z-index: 800;
  left: 65px;
  top: 15px;
}
.NumeroTriangoli2 {
  position: relative;
  z-index: 800;
  left: 65px;
  top: 245px;
}
.NumeroTriangoli3 {
  position: relative;
  z-index: 800;
  left: 65px;
  top: 340px;
}
.NumeroRettangoli {
  position: relative;
  z-index: 800;
  left: 0px;
  top: -5px;
}
.NumeroRettangoli2 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 218px;
}
.NumeroRettangoli3 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 280px;
}
.NumeroRettangoli4 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 310px;
}
.NumeroRettangoli5 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 170px;
}
.NumeroRettangoli6 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 205px;
}
.NumeroRettangoli7 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 260px;
}
.NumeroCroce {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 15px;
}
.NumeroCroce2 {
  position: relative;
  z-index: 800;
  left: 25px;
  top: 15px;
}
.NumeroCroce3 {
  position: relative;
  z-index: 800;
  left: 250px;
  top: 15px;
}
.NumeroCroce4 {
  position: relative;
  z-index: 800;
  left: 355px;
  top: 15px;
}
.NumeroCroce5 {
  position: relative;
  z-index: 800;
  left: 205px;
  top: 15px;
}
.NumeroQuadrati {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 298px;
}
.NumeroQuadrati2 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 332px;
}
.NumeroQuadrati3 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 240px;
}
.NumeroQuadrati4 {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 320px;
}
.NumeroSpie {
  position: relative;
  z-index: 800;
  left: 0px;
  top: 230px;
}

/*FINE NUMERI SEGNALI*/


/*TAB INDICAZIONE*/

.inditab {
    width: 100%;
    margin: 5px 0 15px 0;
}

.inditab_l {
    width: 300px;
    float: left;
    padding: 0 0 0 0;
    margin: 0 25px 0 15px;
    border: 1px solid #000;
}

.inditab_testoW {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    color: #fff;
}

.inditab_testoB {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    color: #000;
}

.testo_inditab {
    font-family: 'Arial', sans-serif;
    hyphens: auto;
    font-size: 25px;
    line-height: 1.5;
    text-align: justify;
    padding: 0 15px 0 15px;
}

/*FINE TAB INDICAZIONE*/



/*TABELLA LUCI*/

.lucitab {
    padding: 5px 0 10px 0;
    background-color: #ebe0bf;
}

.lucitab_tit {
    background-color: #ebe0bf;
    text-align: center;
    color: #929494;
}

.lucitab_titolo6 {
    border-bottom: 10px;
    margin-bottom: 15px;
}

.lucitab_titolo6 h6 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lucitab_titolo6 h6 span {
    background-color: white;
    padding-right: 10px;
}

.lucitab_titolo6 h6:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 15px;
    right: 15px;
    height: 0.5em;
    border-top: 3px dotted;
    z-index: 999;
}

.lucitab_int_last {
    margin-bottom: 25px;
}

.lucitab_int_tit,
.lucitab_int_last_tit {
    background-color: #d6c076;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #000;
    font-size: 25px;
}

.lucitab_int_img,
.lucitab_int_last_img {
    width: 100%;
    padding: 0 0 0 0;
}

.lucitab_int_testo,
.lucitab_int_last_testo {
    hyphens: auto;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin: 0 0 25px 0;
}

.lucitab_int img {
    width: 310px;
}

/*FINE TABELLA LUCI*/


/*TABELLA NORME*/

.normetab {
    padding: 5px 0 10px 0;
    background-color: #eceee6;
}

.normetab_tit {
    background-color: #eceee6;
    text-align: center;
    color: #fff;
}

.normetab_titolo6 {
    border-bottom: 10px;
    margin-bottom: 15px;
}

.normetab_titolo6 h6 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.normetab_titolo6 h6 span {
    background-color: white;
    padding-right: 10px;
}

.normetab_titolo6 h6:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 15px;
    right: 15px;
    height: 0.5em;
    border-top: 3px dotted;
    z-index: 999;
}

.normetab_int_last {
    margin-bottom: 25px;
}

.normetab_int_tit,
.normetab_int_last_tit {
    background-color: #a6b387;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #fff;
	font-size: 25px;
}

.normetab_int_img,
.normetab_int_last_img {
    width: 100%;
    padding: 0 0 0 0;
}

.normetab_int_testo,
.normetab_int_last_testo {
    hyphens: auto;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin: 0 0 25px 0;
}
.normetab_int img {
    width: 310px;
}

/*FINE TABELLA NORME*/


/*TABELLA DOCUMENTI*/

.docutab {
    padding: 5px 0 10px 0;
    background-color: #eceee6;
}

.docutab_tit {
    background-color: #eceee6;
    text-align: center;
    color: #fff;
}

.docutab_titolo6 {
    border-bottom: 10px;
    margin-bottom: 15px;
}

.docutab_titolo6 h6 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.docutab_titolo6 h6 span {
    background-color: white;
    padding-right: 10px;
}

.docutab_titolo6 h6:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 15px;
    right: 15px;
    height: 0.5em;
    border-top: 3px dotted;
    z-index: 999;
}

.docutab_int_last {
    margin-bottom: 25px;
}

.docutab_int_tit,
.docutab_int_last_tit {
    background-color: #ea9f9e;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #fff;
    font-size: 25px;
}

.docutab_int_img,
.docutab_int_last_img {
    width: 100%;
    padding: 0 0 0 0;
}

.docutab_int_testo,
.docutab_int_last_testo {
    hyphens: auto;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin: 0 0 25px 0;
}


/*FINE TABELLA DOCUMENTI*/


/*Tabella ASSICURAZIONE RCA*/

.col-sm-3 {
    width: 25%;
}

.col-sm-3>.foto_M img {
    width: 320px;
}


/* FINESTRE MODALI IMMAGINI*/

.modal-vertical-centered {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
}

.modal-dialog {
    max-width: 100%;
    margin: 30px auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 20%;
	right: 20%;
}


/*FINE FINESTRE MODALI*/


/* FINE SONIA CSS */